* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

section {
    margin: 4rem 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    margin: auto;
}

.col {
    width: 50%;
}

.btn {
    text-decoration: none;
    color: #fff;
    background-image: linear-gradient(to left, #FBA24F, #FF1E1E);
    padding: 1rem 2rem;
    border-radius: 30px;
    margin: 1rem 0;
    display: inline-block;
    font-weight: bold;
    text-transform: capitalize;
}

.eat-header img {
    width: 100%;
}

.eat-header h1 {
    font-size: 2.8rem;
    color: #575757;
    font-weight: bold;
    text-transform: capitalize;
}

.eat-header h1 span {
    color: #FBA24F;
}

.eat-header p {
    margin: 1rem 0;
    color: #828282;
    line-height: 1.5;
}

/* About section */
.about {
    background: url(images/shapes/Frame\ 57.jpg) no-repeat center;
    background-size: cover;
}

.about .col h2 {
    margin: 1rem 0;
    font-size: 1.8rem;
    color: #575757;
}

.about .col p {
    line-height: 2;
    color: #18191F;
    font-weight: 500;
    font-size: .9rem;
    margin: 1rem 0;
}